@tailwind base;
@tailwind components;
@tailwind utilities;
.hero-bng {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)),
    url("hero.png");
}

/* Shimmer Effect */
.shimmer {
  background: linear-gradient(to right, #141414 4%, #333 25%, #141414 36%);
  background-size: 1000% 100%;
  animation: shimmer 2s infinite linear;
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}
